$primary-background: rgb(238, 221, 221);
$secondary-color: hsl(240, 17%, 86%);
$button-hover-color: hsla(346, 69%, 75%, 1);

* {
  background-color: $primary-background;
  margin: 0;
  padding: 0;
}

.section__splash {
  border: solid 10px grey;
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 4em;
  text-align: center;
  width: 90%;

  &>h1 {
    background-color: $secondary-color;
    font-size: 5em;
    margin: 2em;
    text-decoration: underline;
  }

  &>h2 {
    background-color: $secondary-color;
    font-size: 3em;
  }

  .div__dropdown {
    background-color: $secondary-color;
  }
}

h1 {
  font-size: 5em;
}

.hidden {
  display: none;
}

.form__dropdown--user {
  display: none;
}

.form__dropdown--admin {
  display: none;
}



@import './buttonStyle.scss';