$primary-background: rgb(238, 221, 221);
$secondary-color: hsl(240, 17%, 86%);
$button-hover-color: hsla(346, 69%, 75%, 1);

* {
  background-color: $primary-background;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 3em;
  &>h1 {
    font-size: 4em;
  }
}

.img__bell {
  height: 2em;
  width: 2em;
}


.section__nav {
  border: solid 4px grey;
  margin: 3em;
  height: 100vh;
}

.tab__active a {
  cursor: default;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0px;
}

a {
  background-color: $secondary-color;
  text-decoration: none;
  color: black;
  &:hover {
    color: $button-hover-color;
  }
}

li {
    font-size: 2.4em;
    background-color: $secondary-color;
    margin-top: 0px;
    margin-left: 0px;
    padding: 1em;
    border: solid 3px grey;
    border-top: none;
    width: 100%;
}

.tabs__stage {
  order: 1px solid #cecfd5;
  background-color: $primary-background;
  border-radius: 0 0 6px 6px;
  border-top: 0px;
  font-size: 2em;
  margin-top: 2em;
  padding: 1em 1em;
  position: relative;
}

h2 {
  font-size: 1.5em;
  height: 1em;
  margin: .8em;
}





@import './buttonStyle.scss';
@import './splash-page.scss'