$primary-background: rgb(238, 221, 221);
$secondary-color: hsl(240, 17%, 86%);
$button-hover-color: hsla(346, 69%, 75%, 1);

@mixin appendBookingDetails {
  background-color: $secondary-color;
  border: solid grey;
  display: none;
  max-height: 30em;
  margin: 0;
  overflow: auto;
  &>li {
    color: black;
    background-color: $secondary-color;
    &>h6 {
      background-color: $secondary-color;
      font-size: .5em;
    }
  }
}

* {
  background-color: $primary-background;
  margin: 0;
  padding: 0;
}

header {
  margin: 3em;
  font-size: 1em;
  &>h1 {
    display: inline-block;
    font-size: 1em;
  }
  &>h2 {
    font-size: 1em;
    height: 1em;
    margin: 1em 0em 1em 0em;
  }
  &>.h2--date {
    height: 4em;
    &>span {
      display: block;
      font-size: 1em;
    }
  }
}

section {
  display: contents;
  margin: 0 auto;
  width: 75%;
}

.section__nav {
  margin: 3em;
}

.tab__active a {
  cursor: default;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0px;
}

a {
  background-color: $secondary-color;
  text-decoration: none;
  color: black;
  &:hover {
    color: $button-hover-color;
  }
}

li {
  font-size: .8em;
  background-color: #d5d5e1;
  padding: 1em;
  border: solid 1px grey;
  width: 20%;
}

#tab__main {
  border: solid 1px grey;
  display: flex;
  justify-content: space-around;
}

.tabs__stage {
  display: contents;
  border: 1px solid #cecfd5;
  background-color: $primary-background;
  border-radius: 0 0 6px 6px;
  border-top: 0px;
  font-size: 2em;
  margin-top: 2em;
  padding: 1em 1em;
  position: relative;
  &>.tab__booking {
    border: solid 1px grey;
    display: flex;
    font-size: .4em;
    flex-direction: column;
    align-items: center;
  &>.available__rooms {
    display: block;
    font-size: 1em;
    text-align: center;
    margin: 0 auto;
    height: 10em;
    overflow: scroll;
    width: 100%;
      &>li {
          padding: 15px;
          border-radius: 5px;
          margin: 0 auto;
          background-color: none;
          font-size: .8em;
          width: 40%;
        }
      }
      .room__typesYes {
        font-size: 1em;
        height: 2.5em;
        width: 40%;
      }
    }
  }

#tab__main {
  .welcome__message {
    font-size: 2.5em;
    margin: 0em;
  }
}

.h2__rooms--available {
  border: solid 5px grey;
  border-style: double;
  background-color: #d5d5e1;
  font-size: .5em;
  height: 5em;
  margin: 1em;
  width: 10%;
  padding: 50px;
  &>span {
    background-color: $secondary-color;
    display: block;
    font-size: .6em;
    text-align: center;
  }
}

.h2__revenue {
  border: solid 5px grey;
  border-style: double;
  background-color: $secondary-color;
  font-size: .5em;
  height: 5em;
  margin: 1em;
  padding: 50px;
  width: 10%;
  &>span {
    background-color: $secondary-color;
    display: block;
    font-size: .6em;
    text-align: center;
  }
}

.all__done {
  display: none;
  font-size: 2em;
  color: red;
  text-align: center;
}

.error {
  border: solid 1px red;
}

.list__guest--bookings {
  @include appendBookingDetails;
  background-color: $primary-background;
  max-height: 15em;
  overflow: auto;
  width: 40%;
  &>li {
    width: 100%;
  }
}


.section__make--bookings {
  display: inline-block;
}

.search__customer--section {
  border: solid 2px grey;
  display: none;
  height: 8em;
  padding: 1em;
  width: 90%;
  &>h5 {
    font-size: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  &>select {
    width: 50%;
  }
}

.booking__error--admin {
  border: solid 2px grey;
  color: red;
  display: none;
  font-size: 2em;
  margin: .5em;
  padding: 15px;
}

.no__room--p {
  border: solid 4px grey;
  background-color: $secondary-color;
  color: red;
  cursor: pointer;
  display: none;
  height: 2em;
  position: absolute;
  padding: 95px;
  top: 6em;
  text-align: center;
  width: 17em;
}


@import './buttonStyle.scss';
@import './splash-page.scss';
@import './media.scss';