@mixin buttonStyleBase {
  border-radius: 8px;
  font-size: 2em;
  height: 2em;
  outline: none;
  width: 15em;
  &:hover {
    background-color: $button-hover-color;
    cursor: pointer;
    -webkit-box-shadow: 0px 4px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 22px 0px rgba(0,0,0,0.75);
  }
}

.splash__btn--user, .splash__btn--admin {
  @include buttonStyleBase;
  border: solid 2px grey;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 1em;
  text-decoration: bold;
}

.submit__login {
  @include buttonStyleBase;
  background-color: $primary-background;
  border: solid 2px grey;
  display: block;
  height: 1.6em;
  text-decoration: none;
  width: 11.5em;
    &:hover {
      background-color: $button-hover-color;
      cursor: pointer;
      text-decoration: none;
    }
    &:visited {
      color: black;
    }
}

.home__btn {
  border: solid 3px grey;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 800;
  height: 5em;
  width: 15em;
  &:hover {
    background-color: $button-hover-color;
    cursor: pointer;
    -webkit-box-shadow: 0px 4px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 22px 0px rgba(0,0,0,0.75);
  }
}

.div__btn--customer {
  @include buttonStyleBase;
  border-radius: 8px;
  border: solid 2px grey;
  color: black;
  font-size: .8em;
  font-weight: 600;
  height: 2em;
  width: 8em;
}

.btn__bookings {
  @include buttonStyleBase;
  border: solid 2px grey;
  font-size: 1.3em;
  height: 2em;
  margin-bottom: 2em;
  width: 40%;
}

.btn__reservation {
  @include buttonStyleBase;
  border: solid 2px grey;
  font-size: 1.3em;
  height: 2em;
  margin-top: 1.5em;
  width: 40%;
}

.available__rooms {
  @include buttonStyleBase;
  border: solid 2px grey;
  font-size: 1.3em;
  height: 2em;
  margin-top: 1.5em;
  width: 40%;
    &>option {
      font-size: 2em;
    }
}