
.section__splash {
  border: solid 10px grey;
  background-color: #d5d5e1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 18px;
  text-align: center;
  width: 85%;
  &>h1 {
    background-color: $secondary-color;
    font-size: 2em;
    margin: .5em;
  }
  &>h2 {
    background-color: $secondary-color;
    font-size: .8em;
  }
  .div__dropdown {
    background-color: $secondary-color;
  }
  
}

form {
  background-color: rgb(213, 213, 225);
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border: solid 1px grey;
  height: .7em;
  margin: .8em;
  padding: 5px;
  width: 35%;
}

.hidden {
  display: none;
}

.hidden__btn {
  display: none;
}

.form__dropdown--user {
  display: none;
}

.form__dropdown--admin {
  display: none;
}

li {
  list-style: none;
}